@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.button {
  background-color: #34495e;
}

.button.hollow {
  border-color: #34495e;
  color: #34495e;
}

.form-floating-label {
  position: relative;
}

.form-floating-label [type='text'],
.form-floating-label [type='password'],
.form-floating-label [type='date'],
.form-floating-label [type='datetime'],
.form-floating-label [type='datetime-local'],
.form-floating-label [type='month'],
.form-floating-label [type='week'],
.form-floating-label [type='email'],
.form-floating-label [type='number'],
.form-floating-label [type='search'],
.form-floating-label [type='tel'],
.form-floating-label [type='time'],
.form-floating-label [type='url'],
.form-floating-label [type='color'],
.form-floating-label textarea {
  font-weight: 300;
  padding: 30px 16px 16px 0px;
}

.form-floating-label label {
  color: #999;
  position: absolute;
  pointer-events: none;
  left: 0;
  bottom: 0;
  transition: all 0.2s ease-in;
  font-weight: 300;
}

.form-floating-label textarea ~ label {
  top: 20px;
  font-weight: 300;
}

.form-floating-label input:focus ~ label,
.form-floating-label input:disabled[value] ~ label,
.form-floating-label.has-value input ~ label {
  top: 0;
  font-size: 16px;
  color: #34495e;
  font-weight: 400;
}

.form-floating-label textarea:focus ~ label,
.form-floating-label.has-value textarea ~ label {
  top: 0;
  font-size: 16px;
  color: #34495e;
  font-weight: 400;
}

.form-floating-label input,
.form-floating-label textarea {
  margin-bottom: 1.25rem;
  border: 0;
  padding-left: 0;
  box-shadow: none;
  border-bottom: 1px solid #34495e;
  font-weight: 400;
}

.form-floating-label [type='text']:focus,
.form-floating-label [type='password']:focus,
.form-floating-label [type='date']:focus,
.form-floating-label [type='datetime']:focus,
.form-floating-label [type='datetime-local']:focus,
.form-floating-label [type='month']:focus,
.form-floating-label [type='week']:focus,
.form-floating-label [type='email']:focus,
.form-floating-label [type='number']:focus,
.form-floating-label [type='search']:focus,
.form-floating-label [type='tel']:focus,
.form-floating-label [type='time']:focus,
.form-floating-label [type='url']:focus,
.form-floating-label [type='color']:focus,
.form-floating-label textarea:focus {
  color: #34495e;
  transition: 0.2s ease-in-out;
  box-shadow: none;
  border: 0;
  border-bottom: 2px solid #34495e;
  padding-bottom: 15px;
}

.curtain-menu {
  z-index: 2;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}

.curtain-menu-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  transition-delay: 0.5s;
  visibility: hidden;
}

.curtain-menu-wrapper .curtain-menu-list li {
  width: 100%;
  font-weight: 100;
  font-size: 2.8125rem;
  min-height: 2.8125rem;
  padding: 1rem;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: all 0.2s ease-in;
}

.curtain-menu-wrapper .curtain-menu-list li:hover {
  background: rgba(254, 254, 254, 0.7);
}

.curtain-menu-wrapper .curtain-menu-list li:hover a {
  color: #34495e;
}

.curtain-menu-wrapper .curtain-menu-list li a {
  color: #fefefe;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.curtain-menu .curtain {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  transition: -webkit-flex 0.45s;
  transition: flex 0.45s;
  transition: flex 0.45s, -webkit-flex 0.45s, -ms-flex 0.45s;
}

.curtain-menu .curtain:nth-child(2) {
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  background: transparent;
}

.curtain-menu .curtain:nth-child(odd) {
  background: #34495e;
}

.curtain-menu-button {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 5;
}

.curtain-menu-button-toggle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5000px;
  background: #fefefe;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.curtain-menu-button-toggle div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 3px;
  background: #34495e;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  transition-delay: 0.5s;
}

.curtain-menu-button-toggle .bar1 {
  -webkit-transform: translateX(-50%) translateY(-220%);
      -ms-transform: translateX(-50%) translateY(-220%);
          transform: translateX(-50%) translateY(-220%);
}

.curtain-menu-button-toggle .bar2 {
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.curtain-menu-button-toggle .bar3 {
  -webkit-transform: translateX(-50%) translateY(120%);
      -ms-transform: translateX(-50%) translateY(120%);
          transform: translateX(-50%) translateY(120%);
}

.curtain-menu-button-toggle:hover {
  background: #34495e;
}

.curtain-menu-button-toggle:hover div {
  background: #fefefe;
}

.curtain-menu-button-toggle:active {
  box-shadow: none;
}

.curtain-menu-open .curtain:nth-child(2) {
  -webkit-flex: 0 0 0%;
      -ms-flex: 0 0 0%;
          flex: 0 0 0%;
}

.curtain-menu-open .curtain-menu-wrapper {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  visibility: visible;
  pointer-events: all;
}

.curtain-menu-open .curtain-menu-button-toggle .bar1 {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.curtain-menu-open .curtain-menu-button-toggle .bar2,
.curtain-menu-open .curtain-menu-button-toggle .bar3 {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
          transform: translateX(-50%) translateY(-50%) rotate(-135deg);
}